
<mat-card  class="example-card" (click)="SelectedSurvey()" [ngClass]="{'option1':survey_service.cardselected_id==recived.TEMPLATE_ID}" >  
      <div>
      <i *ngIf="survey_service.cardselected_id!=recived.TEMPLATE_ID"class="fa-regular fa-circle-check fa-2x " cl style="color: green;" ></i>
      <i  *ngIf="survey_service.cardselected_id==recived.TEMPLATE_ID" class="fa-solid fa-circle-check fa-2x " style="color: green;"></i>
    </div>
    
      <mat-card-title [ngStyle]="{'font-size.px':(survey_service.fontFamily=='normal' && themflag==1)||(survey_service.fontFamily=='normal' && themflag==0) ? 20 : 30}" > <p  >{{recived.SurveyName}}</p> </mat-card-title>
      <hr>
      <mat-card-content>
      
        
        <div  >
          <div *ngIf="recived?.SurveyPeriods?.length==1">
            <p>{{recived.SurveyPeriods[0].START_DATE| date}} - {{recived.SurveyPeriods[0].END_DATE | date}}</p>
          </div>
          <div *ngIf="recived?.SurveyPeriods?.length > 1">
            <mat-form-field>
              <mat-select>
                <mat-option *ngFor="let date of recived.SurveyPeriods" [value]="date">
                  {{date.START_DATE | date}} - {{date.END_DATE | date}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
