
<mat-card  class="example-card" (click)="SelectedSurvey()" [ngClass]="{'option1':survey_service.cardselected_id==recived.TEMPLATE_ID}" >
    <!-- <mat-icon>check_circle_outline </mat-icon> -->
    <!-- (mouseenter)="icon_test=true" (mouseleave)="icon_test=false" -->
    <!-- *ngIf="icon_test==false && icon_onclick==true " -->
    <!-- *ngIf="icon_test==true || icon_onclick==false "  -->
    <!-- "icon_onclick=!icon_onclick"  --> 
      <div>
      <i *ngIf="survey_service.cardselected_id!=recived.TEMPLATE_ID"class="fa-regular fa-circle-check fa-2x " cl style="color: green;" ></i>
      <i  *ngIf="survey_service.cardselected_id==recived.TEMPLATE_ID" class="fa-solid fa-circle-check fa-2x " style="color: green;"></i>
    </div>
    
      <mat-card-title > <p>{{recived.SurveyName}}</p> </mat-card-title>
      <hr>
      <mat-card-content>
      <!-- <div *ngFor="let date  of recived.SurveyPeriods   " >bm
        <p>{{date.START_DATE}}</p> -->
        
        <div  >
          <div *ngIf="recived?.SurveyPeriods?.length==1">
            <p>{{recived.SurveyPeriods[0].START_DATE}}</p>
          </div>
          <div *ngIf="recived?.SurveyPeriods?.length > 1">
            <mat-form-field>
              <mat-select>
                <mat-option *ngFor="let date of recived.SurveyPeriods" [value]="date.START_DATE | date">
                  {{date.START_DATE | date}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
