
.example-card
        width:200px
        border: 1px solid 
        border-color: green
        border-top: 5px solid green
        border-bottom: 5px solid green
        color: black
        align-items: center
        margin-bottom:1em
        margin-top: 1em
        margin-left: 1em
        margin-right: 1em
        display: inline-block
        text-align: center
        padding: 5px

mat-icon
    align-items: center
    color: green

    
