
<div>
  <input (keydown)="onSearch($event)" class="setTnput" type="text" matInput placeholder="search" style="display: inline-block;">
      <i class="fa-solid fa-magnifying-glass"></i>
  <button button mat-raised-button style="display: inline-block;" (click)="openDialog()" color="primary"[disabled]="dialogObject==null" >Go to Dashbarod</button>
  <button class="setbutton" style="display: inline-block;" mat-stroked-button color="warn">filter</button>

  <span>
      <button mat-raised-button  style="display: inline-block;"(click)="cardsView('grid')"> <i class="fas fa-th-large"></i></button>
      <button mat-raised-button style="display: inline-block;" (click)="cardsView('table')"> <i class="fas fa-list"></i> </button>
  </span>
  
  
  
</div>


<div class="container" >
  <mat-tab-group (selectedTabChange)="onChangetab($event);" >
    <mat-tab label="All Survey"> All Survey
      <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
        <app-card-item *ngFor="let data of dataRecived" [recived]="data"  (select)=" update($event)"></app-card-item>
        
    </div>

    <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataRecived" matSort style="width: 100%;"  >
      <!-- SurveyName Column -->
          <ng-container matColumnDef="SurveyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by SurveyName"> SurveyName </th>
            <td mat-cell *matCellDef="let element">
      
              <div class="radio">
                <label><input type="radio" id='regular' name="radio">{{element.SurveyName}}</label>
            </div>
               </td>
          </ng-container>
        
          <!-- StartDate Column -->
          <ng-container matColumnDef="StartDate">
            <th mat-header-cell *matHeaderCellDef > StartDate </th>
            <td mat-cell *matCellDef="let element" ><div  >
              <div *ngIf="element?.SurveyPeriods?.length==1">
                <p>{{element.SurveyPeriods[0].START_DATE | date}}</p>
              </div>
              <div *ngIf="element?.SurveyPeriods?.length > 1">
                <mat-form-field>
                  <mat-select>
                    <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.START_DATE">
                      {{date.START_DATE | date}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> </td>
          </ng-container>
        
          <!-- EndDate Column -->
          <ng-container matColumnDef="EndDate">
            <th mat-header-cell *matHeaderCellDef > EndDate </th>
            <td mat-cell *matCellDef="let element"> 
              <div  >
              <div *ngIf="element?.SurveyPeriods?.length==1">
                <p>{{element.SurveyPeriods[0].END_DATE | date}}</p>
              </div>
              <div *ngIf="element?.SurveyPeriods?.length > 1">
                <mat-form-field>
                  <mat-select>
                    <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.END_DATE ">
                      {{date.END_DATE | date}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> 
          </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>

      </div>
      
      </mat-tab>
      <mat-tab label="Published" >  Published
        <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
          <app-card-item *ngFor="let data of PublishedArray" [recived]="data"  (select)=" update($event)"></app-card-item>
          
      </div>
      <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
        <table mat-table [dataSource]="PublishedArray" matSort style="width: 100%;"  >
        <!-- SurveyName Column -->
            <ng-container matColumnDef="SurveyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by SurveyName"> SurveyName </th>
              <td mat-cell *matCellDef="let element">
        
                <div class="radio">
                  <label><input type="radio" id='regular' name="radio">{{element.SurveyName}}</label>
              </div>
                 </td>
            </ng-container>
          
            <!-- StartDate Column -->
            <ng-container matColumnDef="StartDate">
              <th mat-header-cell *matHeaderCellDef > StartDate </th>
              <td mat-cell *matCellDef="let element" ><div  >
                <div *ngIf="element?.SurveyPeriods?.length==1">
                  <p>{{element.SurveyPeriods[0].START_DATE | date}}</p>
                </div>
                <div *ngIf="element?.SurveyPeriods?.length > 1">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.START_DATE">
                        {{date.START_DATE | date}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> </td>
            </ng-container>
          
            <!-- EndDate Column -->
            <ng-container matColumnDef="EndDate">
              <th mat-header-cell *matHeaderCellDef > EndDate </th>
              <td mat-cell *matCellDef="let element"> 
                <div  >
                <div *ngIf="element?.SurveyPeriods?.length==1">
                  <p>{{element.SurveyPeriods[0].END_DATE | date}}</p>
                </div>
                <div *ngIf="element?.SurveyPeriods?.length > 1">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.END_DATE ">
                        {{date.END_DATE | date}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> 
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          </table>
  
        </div>
      </mat-tab>
      <mat-tab label="Expired"> Expired
        <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
          <app-card-item *ngFor="let data of ExpiredArray" [recived]="data"  (select)=" update($event)"></app-card-item>
      </div>
      <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
        <table mat-table [dataSource]="ExpiredArray" matSort style="width: 100%;"  >
        <!-- SurveyName Column -->
            <ng-container matColumnDef="SurveyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by SurveyName"> SurveyName </th>
              <td mat-cell *matCellDef="let element">
        
                <div class="radio">
                  <label><input type="radio" id='regular' name="radio">{{element.SurveyName}}</label>
              </div>
                 </td>
            </ng-container>
          
            <!-- StartDate Column -->
            <ng-container matColumnDef="StartDate">
              <th mat-header-cell *matHeaderCellDef > StartDate </th>
              <td mat-cell *matCellDef="let element" ><div  >
                <div *ngIf="element?.SurveyPeriods?.length==1">
                  <p>{{element.SurveyPeriods[0].START_DATE | date}}</p>
                </div>
                <div *ngIf="element?.SurveyPeriods?.length > 1">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.START_DATE">
                        {{date.START_DATE | date}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> </td>
            </ng-container>
          
            <!-- EndDate Column -->
            <ng-container matColumnDef="EndDate">
              <th mat-header-cell *matHeaderCellDef > EndDate </th>
              <td mat-cell *matCellDef="let element"> 
                <div  >
                <div *ngIf="element?.SurveyPeriods?.length==1">
                  <p>{{element.SurveyPeriods[0].END_DATE | date}}</p>
                </div>
                <div *ngIf="element?.SurveyPeriods?.length > 1">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.END_DATE ">
                        {{date.END_DATE | date}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> 
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          </table>
  
        </div>
      </mat-tab>
      <mat-tab label="Closed" > Closed 
        <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
          <app-card-item *ngFor="let data of ClosedArray" [recived]="data"  (select)=" update($event)"></app-card-item>
          
      </div>
  
      <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
        <table mat-table [dataSource]="ClosedArray" matSort style="width: 100%;"  >
        <!-- SurveyName Column -->
            <ng-container matColumnDef="SurveyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by SurveyName"> SurveyName </th>
              <td mat-cell *matCellDef="let element">
        
                <div class="radio">
                  <label><input type="radio" id='regular' name="radio">{{element.SurveyName}}</label>
              </div>
                 </td>
            </ng-container>
          
            <!-- StartDate Column -->
            <ng-container matColumnDef="StartDate">
              <th mat-header-cell *matHeaderCellDef > StartDate </th>
              <td mat-cell *matCellDef="let element" ><div  >
                <div *ngIf="element?.SurveyPeriods?.length==1">
                  <p>{{element.SurveyPeriods[0].START_DATE | date}}</p>
                </div>
                <div *ngIf="element?.SurveyPeriods?.length > 1">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.START_DATE">
                        {{date.START_DATE | date}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> </td>
            </ng-container>
          
            <!-- EndDate Column -->
            <ng-container matColumnDef="EndDate">
              <th mat-header-cell *matHeaderCellDef > EndDate </th>
              <td mat-cell *matCellDef="let element"> 
                <div  >
                <div *ngIf="element?.SurveyPeriods?.length==1">
                  <p>{{element.SurveyPeriods[0].END_DATE | date}}</p>
                </div>
                <div *ngIf="element?.SurveyPeriods?.length > 1">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.END_DATE ">
                        {{date.END_DATE | date}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> 
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          </table>
  
        </div>
      </mat-tab>
      
      
    </mat-tab-group>  





<!-- <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
    <app-card-item *ngFor="let data of dataRecived" [recived]="data"  (select)=" update($event)"></app-card-item>
</div>
  -->


  