
<div>
  <input (keydown)="onSearch($event)" class="setTnput" type="text" matInput placeholder="search" style="display: inline-block;">
      <i class="fa-solid fa-magnifying-glass"></i>
  <button button mat-raised-button style="display: inline-block;" (click)="openDialog()" color="primary"[disabled]="dialogObject==null" >Go to Dashbarod</button>
  <button class="setbutton" style="display: inline-block;" mat-stroked-button color="warn">filter</button>

  <span>
      <button mat-raised-button  style="display: inline-block;"(click)="cardsView('grid')"> <i class="fas fa-th-large"></i></button>
      <button mat-raised-button style="display: inline-block;" (click)="cardsView('table')"> <i class="fas fa-list"></i> </button>
  </span>
  
  
  
</div>


<div class="container" >
  <mat-tab-group (selectedTabChange)="onChangetab($event);" >
    <mat-tab label="All Survey"> All Survey
      <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
        <app-card-item *ngFor="let data of dataRecived" [recived]="data"  (select)=" update($event)"></app-card-item>
        
    </div>

    <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
      
      <app-table-item [recived_table]="dataRecived"  (select_table)=" update($event)"> </app-table-item>
      </div>
      
      </mat-tab>
      <mat-tab label="Published"  >  Published
        <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
          <app-card-item *ngFor="let data of PublishedArray" [recived]="data"  (select)=" update($event)"></app-card-item>
          
      </div>
      <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
        <app-table-item [recived_table]="PublishedArray"  (select_table)=" update($event)"> </app-table-item>
        </div>
      </mat-tab>
      <mat-tab label="Expired"> Expired
        <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
          <app-card-item *ngFor="let data of ExpiredArray" [recived]="data"  (select)=" update($event)"></app-card-item>
      </div>
      <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
        <app-table-item [recived_table]="ExpiredArray"  (select_table)=" update($event)"> </app-table-item>
  
        </div>
      </mat-tab>
      <mat-tab label="Closed" > Closed 
        <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
          <app-card-item *ngFor="let data of ClosedArray" [recived]="data"  (select)=" update($event)"></app-card-item>
          
      </div>
  
      <div *ngIf="toggle_grid!=='grid'" class="mat-elevation-z8">
        <app-table-item [recived_table]="ClosedArray"  (select_table)=" update($event)"> </app-table-item>
        </div>
      </mat-tab>
      
      
    </mat-tab-group>  





<!-- <div *ngIf="toggle_grid==='grid'" class="card-list-container mt-5"  >
    <app-card-item *ngFor="let data of dataRecived" [recived]="data"  (select)=" update($event)"></app-card-item>
</div>
  -->


  