
<table mat-table [dataSource]="recived_table" matSort style="width: 100%;"  >
    <!-- SurveyName Column -->
        <ng-container matColumnDef="SurveyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by SurveyName"> SurveyName </th>
          <td mat-cell *matCellDef="let element">
    
            <div class="radio">
              <input type="radio" id='regular' name="radio" (click)="SelectedSurvey()" >{{element.SurveyName}}
          </div>
             </td>
        </ng-container>
      
        <!-- StartDate Column -->
        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef > StartDate </th>
          <td mat-cell *matCellDef="let element" ><div  >
            <div *ngIf="element?.SurveyPeriods?.length==1">
              <p>{{element.SurveyPeriods[0].START_DATE | date}}</p>
            </div>
            <div *ngIf="element?.SurveyPeriods?.length > 1">
              <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.START_DATE">
                    {{date.START_DATE | date}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> </td>
        </ng-container>
      
        <!-- EndDate Column -->
        <ng-container matColumnDef="EndDate">
          <th mat-header-cell *matHeaderCellDef > EndDate </th>
          <td mat-cell *matCellDef="let element"> 
            <div  >
            <div *ngIf="element?.SurveyPeriods?.length==1">
              <p>{{element.SurveyPeriods[0].END_DATE | date}}</p>
            </div>
            <div *ngIf="element?.SurveyPeriods?.length > 1 ">
              <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let date of element.SurveyPeriods" [value]="date.END_DATE ">
                    {{date.END_DATE | date}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> 
        </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>